@charset "UTF-8";


    /*navibar*/
	#approval-tap-area{
		width: 80%;
		margin: auto;
	}
	
	#approval-tap-area>ul{
		width:100%;
		height : 42px;
		list-style-type : none;
	}
	
	#nav-tabs{
		padding : 0;
		display: flex;
	}
	
    #approval-tap-area>ul li{
    	width :98px;
    	margin-right: 5px;
    	float : left;
    }
    
    #approval-tap-area>ul li a{
    	text-align: center; 	
    }
    
    li:hover{
    	border-top: 1px solid #dee2e6;
		border-left: 1px solid #dee2e6;
		border-right: 1px solid #dee2e6;
		border-top-left-radius:0.25rem;
		border-top-right-radius:0.25rem; 
    }
	
	#link_active{
		border-top: 1px solid #dee2e6;
		border-left: 1px solid #dee2e6;
		border-right: 1px solid #dee2e6; 
		border-bottom: none;
		border-top-left-radius:0.25rem;
		border-top-right-radius:0.25rem;
	}
	
    /* 게시글 목록영역 */
    #approval-list-area{
        width: 80%;
        margin: auto;
    }
    
    #approval-list{
        text-align:center;
    }

    #pagingArea {
        width:fit-content; 
        margin:auto;
    }
