@charset "UTF-8";

 div{
            box-sizing: border-box;
        }
        input[type="text"] {
        	border : 0;
        	width : 100%;
        	height : 100%;
        }
        .leave-area{
            width: 700px;
            height: 1000px;
            margin: auto;
        }
        .leave-area>div{
            width: 100%;
        }
        #leave-btn-area{
            height: 5%;
            border: 1px solid rgb(202, 200, 200);
            border-radius: 20px;
        }
        #leave-btn-area button{
            padding: 5px;
            margin-top: 7px;
            margin-left: 7px;
        }
        #leave-header{
            height: 15%;
        }
        #leave-content{
            height: 80%;
        }
        #leave-content>div{
            width: 100%;
        }
        #member-info-table{
        	border-collapse: collapse;
        }
        #member-info-table th,td {
        	vertical-align: middle;
        }
        #leave-content1{
            height: 15%;
        }
        #leave-content2{
            height: 85%;
        }
        #reason{
            resize: none;
            width: 100%;
            height: 100%;
            border: 0;
        }
        #leave-notice{
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            text-align: left;
            line-height: 20px;
            margin: 0;
        }
        #approver-signature {
            border-collapse: collapse;
            width: 20%;
            margin-top: 10px;
            float: right;
            line-height:20px;
    
        }
        #approver-signature th,td{
            border-collapse: collapse;
            padding: 10px;
            vertical-align: middle;
            text-align: center;
        }
        #approver-signature input{
        	padding:0px;
        	vertical-align: middle;
            text-align: center;
        }
        #file-area{
            height: 100%;
        }
		.modal-body>div{
            float: left;
        }
        #search-area{
        	width:40%
        }
        #search-area>input{
           width: 200px;
           margin: 0px;
        }
        #search-area>*{
           display: inline-block;
        }
        /* 모달 부서리스트 */
        #organization-area{
           width : 30%;
           border: 1px solid rgb(177, 175, 175);
           border-radius: 20px;
           width: 200px;
           text-align: center;
           margin:0px;
           
        }
        #organization-btn {
            background-color: transparent;
            border: 0;
            cursor: pointer;
            color: green;
            font-size: 15px;
            font-weight: bolder;
            display: block;
            width: 100%;
            height: 100%;
            line-height: 40px;
        }

        #selectApprover{
        	width:30%
        }
        #approver1,#approver2{
            width: 200px;
            height: 100px;
            border:0;
        }
        #approver-btn{
            margin-top: 50px;
        }
        #approverList{
        	table-layout : fixed;
        	height:400px;
        	overflow-y:scroll;
        }
        #approverList th,td{
        	text-align : center;
        	word-break:break-all;
            height: auto;
        }
        #receiverList{
        	table-layout : fixed;
        	height:400px;
        	overflow-y:scroll;
        }