div{
    box-sizing: border-box;
}
.approval-home{
    width: 1000px;
    height: 800px;
    margin: auto;
}
.approval-home>div{
    width: 100%;
}
#approval-home_1{
    height: 30%;
}
#approval-home_2{
    height: 40%;
}
#approval-home_3{
    height: 30%;
}
#approval-home_1>div{
    height: 100%;
    float: left;
}
#lately-area{
    float: right;
    font-size: 20px;
    padding-top: 25px;
    padding-right: 100px;
}
#approval_short_list{
        	width: 100%;
        	text-align : center;
        }
   #approval_short_list>tbody>tr:hover{
    background-color: rgb(209, 207, 207);
    cursor: pointer;
}