/* 모달창 style */
	.popup-wrap{ /*모달을 감싸는 박스*/
	    background-color: rgb(0,0,0,0); /* 배경색 지정 */
	    justify-content: center; /*수평 중앙정렬*/
	    align-items: center; /*수직 중악정렬*/
	    position: fixed; /*포지션 픽스, 화면이 스크롤되더라도 고정되기 위함*/
	
	    top:0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	
	    display: none; /*이벤트 발생 전까지 숨기기*/
	    padding :15px;
	}
    
    .popup{ /*모달 팝업 몸체*/
		width: 100%; /*반응형 이기 때문에 가로값은 100%로 지정*/
		max-width: 400px; /*팝업의 최대 크기 지정*/
		border-radius: 10px; /*둥글둥글한 디자인을 위해 각을 없앱니다.*/
		overflow:hidden; /* 각을 없앴을 때 내부 영역이 튀어나오는걸 방지*/
		background-color: #0E6251; 
		
		box-shadow: 5px 10px 10px 1px rgba(0,0,0,3); /*그림자 효과*/
	}

	.popup-head{ /*모달 팝업 머리부분*/
	    width:100%; /*부모 요소를 따라가기 때문에 굳이 가로값을 주진 않아도 되지만, 일부 ie에서 인식 못하는 문제가 있으므로 지정*/
	    height: 100%; /*head영역 높이*/
	    display: flex;/*로고 이미지나 텍스트를 중앙 정렬 하기 위해 flex및 정렬*/
	    align-items: center;
	    justify-content: center;
	
	}
	
	.popup-body{/*모달 팝업 몸통부분*/
	    width:100%;
	    background-color:#ffffff; /*컨텐츠 영역의 배경색*/
	}
	
	.body-content{ /*몸통 내부 컨텐츠 영역*/
		margin: auto;
	    width: 80%;
	    padding: 10px; /*좌우 내용 붙음 방지 */
	}
	
	.body-titlebox{ /*컨텐츠 타이틀 영역*/
	    text-align: center;
	    width: 100%;
	    height: 40px;
	    margin-bottom:15px; /*내용과 간격 조정*/
		font-size:15px;
	}
	
	.body-titlebox>h2{
		margin:auto;
		margin-top:5px;
		font-size:25px;
		font-weight: 300;
	}
		
	
	.body-contentbox{
	    word-break:break-word;    /*단어가 짤리지 않음*/
	    overflow-y:auto;          /*내부요소가 지정한 세로 값보다 클 경우 스크롤 생성 */
	    min-height:100px;         /*최소 높이*/
	    max-height:200px;          /*최대 높이*/
	}
	
	.body-contentbox>p{
		font-size:15px;
		color: blue;
	}
	
	.popup-foot{
	    width:100%;
	    height:40px;
	    margin-top:10px;
	}
	
	.popup-foot span:hover{
    	 cursor:pointer; 
    	 font-size: 20px;
    }
    
	.pop-btn{ /*각각의 버튼*/
	    display:inline-flex;            /*한줄로 나열하기 위한 inline속성과 flex속성 혼합*/
	    width:50%;                      /*2개 버튼 각각 50% 영역*/
	    height:100%;                    /*50px*/
	    justify-content:center;         /*수평정렬*/
	    align-items:center;             /*수직정렬*/
	    float:left;                     /*좌측배치*/
	    color:#ffffff;                /*글자색*/
	    cursor:pointer;                 /*마우스 포인터 효과*/
	}
	.pop-btn-confirm{                    /*확인버튼*/
	    border-right:1px solid #3b5fbf; /*오른쪽 줄*/
	    margin-right: 20px;
	    margin-left: 10px;
	    
	}
	
	.pop-btn-close{
	    margin-right: 20px;
	    margin-left: 10px;
	
	}
	
	.body-contentbox a{
		text-decoration: none;
		color:black;
	
	}
	
	.body-contentbox a:hover{
		text-decoration: none;
		color:black;
		cursor:pointer;  
		font-size:20px;
		font-weight:500;
	}