        :root{
            --header-height: 5.4rem;
            --nav-width: 80px;
            --menubar-color: #0E6251; /*메뉴바 색상*/
            --menubar-font-color: white; /*메뉴바 글씨 색상*/
            --header-color: #F3F5F3; /*헤더 색상*/
            --body-font: ; /*폰트*/
            --normal-font-size: 1.7rem; /*기본 글씨 크기*/
            --z-fixed: 100; /*?*/
            --main_profile_height: ;
        }*,

        ::before, ::after{
            box-sizing: border-box;
        }a

        body{
            position: relative;
            margin: var(--header-height) 0 0 0;
            padding: 0 1rem;
            font-family: var(--body-font);
            font-size: var(--normal-font-size);
        }

        a{
            text-decoration: none;
        }

        .header{
            width: 100%;
            height: var(--header-height);
            position: fixed;
            top: 0;
	        left: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 1rem;
            background-color: var(--header-color);
            z-index: var(--z-fixed);
            transition: .5s;
        }

        
        .head{
            font-size: 2.4rem;
            cursor: pointer;
        }
        
        .header_right{
            display: flex;
            padding: .5rem 1rem 0 0;
            column-gap: 4rem;
            font-size: 2.4rem;
            cursor: pointer;
            align-items: center;
        }

        .header_profile img{
            border: 1px solid black;
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
        }

        /* menubar 전체 div */
        .menubar{
            position: fixed;
            background-color: var(--menubar-color);
            top: 0;
            left: -30%;
            width: var(--nav-width);
            height: 100vh;
            padding: .5rem 1rem 0 0;
            transition: .5s;
            z-index: var(--z-fixed);
        }

        .nav{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;
        }
        
        .nav_logo{
	        margin-top: 10px;
        
        }

        .nav_logo, .nav_link{
            display: grid;
            grid-template-columns: max-content max-content;
            align-items: center;
            column-gap: 1rem;
	        padding: .5rem 0 .5rem 1.5rem; 
	        position: relative;
        }

        .nav_link{
            position: relative;
            color: var(--menubar-font-color);
            transition: .3s;
        }

        .nav_link:hover{
            color: var(--white-color);
        }


        .nav_logout{
            margin-left: 15px;
            margin-top: auto;
      		margin-bottom: 10px;
        }
        
	    @media (max-width: 768px) {
	      .nav_logo,
	      .nav_link,
	      .nav_logout {
	        display: block;
	        text-align: center;
	        margin-top: 10px;
	      }
	    }


        .show{
    	left: 0;
        }

        .body-pd{
    	padding-left: calc(var(--nav-width) + 1rem);
        }
        
    .active{
    	color: var(--white-color);
    }
    .active::before{
	    content: '';
	    position: absolute;
	    left: 0;
	    width: 2px;
	    height: 32px;
	    background-color: var(--white-color);
    }
    .height-100{
    	height:100vh;
    }
    @media screen and (min-width: 768px){
    body{
	    margin: calc(var(--header-height) + 1rem) 0 0 0;
	    padding-left: calc(var(--nav-width) + 2rem);
    }
    .header{
	    height: calc(var(--header-height) + 1rem);
	    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }
    .header_profile{
	    width: 40px;
	    height: 40px;
    }
    .header_profile img{
    	width: 45px;
    }
    .menubar{
    	left: 0;
    	padding: 1rem 1rem 0 0;
    }
    .show{
    	width: calc(var(--nav-width) + 156px);
    }
    .body-pd{
    	padding-left: calc(var(--nav-width) + 188px)
    }
    }

    /* 사이드바를 감싸고있는 div */
    .sidebar-nav { 
        width: 250px;
        /* margin-left: 10px;
        padding: 0; */
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }

    /* 큰 ul */
    .sidebar-nav ul {
        width: 250px;
        margin: 10px;
        padding: 0;
        list-style: none;
    }

    /* 큰 ul 안에 있는 li */
    .sidebar-nav li {
        line-height: 60px;
    }

    /* 소메뉴 */
    .sidebar-nav li a {
        display: block;
        padding-left: 20px;
        text-decoration: none;
        color: #999;
    }

    /* 소메뉴 hover */
    .sidebar-nav li a:hover {
        text-decoration: none;
        color: #fff;
        background: rgba(0, 0, 0, 0.2);
    }


    .sidebar-nav li a:active, .sidebar-nav li a:focus {
        text-decoration: none;
    }

    .sidebar-nav li a.active{
        text-decoration: none;
        color: #fff;
        background: rgba(0, 0, 0, 0.2);
    }

    #menu_submenu{
        display: none;
    }
	
	/* --------------- */
    /* 프로필 호버시 메뉴 */
    .header_profile_menu{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .header_profile_submenu{
        list-style: none;
        /* margin: 0; */
        /* padding: 0; */
    }

    .header_profile_menu:after{
        display: block;
        content: '';
        clear: both;
    }

    .header_profile_menu>li{
        position: relative;
        float: left;
        margin-right: 5px;
    }

    .header_profile_menu>li>a{
        display: block;
        padding: 0 25px 0 0;
        height: 48px;
        line-height: 40px;
    }

    .header_profile_menu>li:hover .header_profile_submenu,
    .header_profile_menu:hover .hd_pro_con{
        display: block;
    }

    .header_profile_menu .header_profile_submenu{
        display: none;
        position: absolute;
        right: 1px;
        text-align: center;
    }

    .header_profile_menu .header_profile_submenu a {
        display: block;
        padding: 5px;
        font-size: 18px;
        background-color: #0E6251;
        color: white;
        width: 100px;
        height: 40px;
        padding: 10px 0;
        
    }
    
    /* 말풍선 말꼬리 만들기  */
    .hd_pro_con::after{
        content: "";
        position: absolute;
        top: 25px;
        left: 8px;
        border: 13px solid transparent;
        border-bottom: 10px solid #0E6251;
        z-index: 999;
    }

    .header_profile_menu .hd_pro_con {
        display: none;
    }

    .header_profile_menu:hover .hd_pro_con {
        display: block;
    }
 
   .header_profile_submenu a:hover{
        background: #234d42;
   }
   
   .content{
        width: 1570px;
        /* height: 800px; */
        margin-top: 105px;
        /* background-color: khaki; */
    }