
        :root{
            --header-height: 3rem;
            --nav-width: 80px;
            --menubar-color: #0E6251; /*메뉴바 색상*/
            --menubar-font-color: white; /*메뉴바 글씨 색상*/
            --header-color: #F3F5F3; /*헤더 색상*/
            --body-font: ; /*폰트*/
            --normal-font-size: 1rem; /*기본 글씨 크기*/
            --z-fixed: 100; /*?*/
            --main_profile_height: ;
        }*,

        ::before, ::after{
            box-sizing: border-box;
        }

        body{
            position: relative;
            margin: var(--header-height) 0 0 0;
            padding: 0 1rem;
            font-family: var(--body-font);
            font-size: var(--normal-font-size);
            transition: .5s;
        }

        a{
            text-decoration: none;
        }

        .header{
            width: 100%;
            height: var(--header-height);
            position: fixed;
            top: 0;
	        left: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 1rem;
            background-color: var(--header-color);
            z-index: var(--z-fixed);
            transition: .5s;
        }

        
        .head{
            font-size: 1.5rem;
            cursor: pointer;
        }
        
        .header_right{
            display: flex;
            padding: .5rem 1rem 0 0;
            column-gap: 2rem;
            font-size: 1.5rem;
            cursor: pointer;
            align-items: center;
        }
        /* 왜 있는 것일까 */
        /* .header_profile{

        } */

        .header_profile img{
            border: 1px solid black;
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
        }

        /* menubar 전체 div */
        .menubar{
            position: fixed;
            background-color: var(--menubar-color);
            top: 0;
            left: -30%;
            width: var(--nav-width);
            height: 100vh;
            padding: .5rem 1rem 0 0;
            transition: .5s;

            z-index: var(--z-fixed);
        }

        .nav{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;
        }

        .nav_logo, .nav_link{
            display: grid;
            grid-template-columns: max-content max-content;
            align-items: center;
            column-gap: 1rem;
	        padding: .5rem 0 .5rem 1.5rem; 
        }

        .nav_link{
            position: relative;
            color: var(--menubar-font-color);
            transition: .3s;
        }

        .nav_link:hover{
            color: var(--white-color);
        }

        .nav_logout{
            margin-bottom: 10px;
        }

        .show{
    	left: 0;
        }

        .body-pd{
    	padding-left: calc(var(--nav-width) + 1rem);
        }
        
    .active{
    	color: var(--white-color);
    }
    .active::before{
	    content: '';
	    position: absolute;
	    left: 0;
	    width: 2px;
	    height: 32px;
	    background-color: var(--white-color);
    }
    .height-100{
    	height:100vh;
    }
    @media screen and (min-width: 768px){
    body{
	    margin: calc(var(--header-height) + 1rem) 0 0 0;
	    padding-left: calc(var(--nav-width) + 2rem);
    }
    .header{
	    height: calc(var(--header-height) + 1rem);
	    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }
    .header_profile{
	    width: 40px;
	    height: 40px;
    }
    .header_profile img{
    	width: 45px;
    }
    .menubar{
    	left: 0;
    	padding: 1rem 1rem 0 0;
    }
    .show{
    	width: calc(var(--nav-width) + 156px);
    }
    .body-pd{
    	padding-left: calc(var(--nav-width) + 188px)
    }
    }

    /* 사이드바를 감싸고있는 div */
    .sidebar-nav { 
        width: 250px;
        /* margin-left: 10px;
        padding: 0; */
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }

    /* 큰 ul */
    .sidebar-nav ul {
        width: 250px;
        margin: 10px;
        padding: 0;
        list-style: none;
    }

    /* 큰 ul 안에 있는 li */
    .sidebar-nav li {
        line-height: 60px;
    }

    /* 소메뉴 */
    .sidebar-nav li a {
        display: block;
        padding-left: 20px;
        text-decoration: none;
        color: #999;
    }

    /* 소메뉴 hover */
    .sidebar-nav li a:hover {
        text-decoration: none;
        color: #fff;
        background: rgba(0, 0, 0, 0.2);
    }


    .sidebar-nav li a:active, .sidebar-nav li a:focus {
        text-decoration: none;
    }

    .sidebar-nav li a.active{
        text-decoration: none;
        color: #fff;
        background: rgba(0, 0, 0, 0.2);
    }

    #menu_submenu{
        display: none;
    }
    
   .content{
        width: 1570px;
        /*height: 800px;*/
        margin-top: 105px;
    }