<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="memberMapper">
	<resultMap type="member" id="memberResultSet">
		<result column="USER_NO" property="userNo"/>
	 	<result column="USER_ID" property="userId"/>
	 	<result column="USER_NAME" property="userName"/>
	 	<result column="USER_PWD" property="userPwd"/>
	 	<result column="PHONE" property="phone"/>
	 	<result column="EMAIL" property="email"/>
	 	<result column="ADDRESS" property="address"/>
	 	<result column="BIRTH" property="birth"/>
	 	<result column="DEPT_CODE" property="deptCode"/>
	 	<result column="JOB_CODE" property="jobCode"/>
	 	<result column="EMPOLYMENT_DATE" property="empolymentDate"/>
	 	<result column="DEPATURE_DATE" property="depatureDate"/>
	 	<result column="AUTH" property="auth"/>
	 	<result column="ENABLED" property="enabled"/>
	 	<result column="STATUS" property="status"/>
	 	<result column="DEPT_NAME" property="deptName"/>
	 	<result column="JOB_Name" property="jobName"/>
	</resultMap>

	<insert id="insertAdmin" parameterType="member">
		INSERT INTO MEMBER(USER_NO, USER_ID, USER_NAME, USER_PWD, PHONE, EMAIL, ADDRESS, BIRTH, DEPT_CODE, JOB_CODE,
							EMPOLYMENT_DATE, DEPATURE_DATE, AUTH, ENABLED)
		VALUES(SEQ_UNO.NEXTVAL, #{userId}, '관리자', #{userPwd}, '010-0000-0000', 'ADMIN@NAVER.COM', 'SYSDATE', SYSDATE, 'D1', 'J1', SYSDATE, SYSDATE, 'ROLE_ADMIN', 1)
	</insert>
	
	<!-- 아이디로 회원 조회 -->
	<select id="selectMemberById" resultMap="memberResultSet">
		SELECT USER_NO, USER_ID, USER_NAME, USER_PWD, PHONE, EMAIL, ADDRESS, TO_CHAR(BIRTH, 'YYMMDD') AS BIRTH, DEPT_CODE, DEPT_NAME, JOB_NAME,
												EMPOLYMENT_DATE, DEPATURE_DATE, AUTH, ENABLED
		FROM MEMBER
		JOIN DEPARTMENT USING(DEPT_CODE)
		JOIN JOB USING(JOB_CODE)
		WHERE USER_ID = #{userId}
		AND STATUS = 'Y'
	</select>
	
	<!-- 게시글 총 개수 -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		JOIN DEPARTMENT USING(DEPT_CODE)
		JOIN JOB USING(JOB_CODE)		
		WHERE STATUS = 'Y'
		<choose>
			<when test="category == 'name'">
				AND USER_NAME
				LIKE '%'||#{searchWord}||'%'
			</when>
			<when test="category == 'dept'">
				AND DEPT_NAME
				LIKE '%'||#{searchWord}||'%'
			</when>
			<when test="category == 'job'">
				AND JOB_NAME
				LIKE '%'||#{searchWord}||'%'
			</when>
		</choose>
	</select>
	
	<!-- 게시글 조회 -->
	<select id="selectList" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		JOIN DEPARTMENT USING(DEPT_CODE)
		JOIN JOB USING(JOB_CODE)
		WHERE STATUS = 'Y'
		<choose>
			<when test="category == 'name'">
				AND USER_NAME
				LIKE '%'||#{searchWord}||'%'
			</when>
			<when test="category == 'dept'">
				AND DEPT_NAME
				LIKE '%'||#{searchWord}||'%'
			</when>
			<when test="category == 'job'">
				AND JOB_NAME
				LIKE '%'||#{searchWord}||'%'
			</when>
		</choose>
		ORDER BY ${currentStatus}
	</select>
	
	<!-- 회원 번호로 회원 찾기 -->
	<select id="selectMemberByUserNo" resultMap="memberResultSet">
		SELECT USER_NO, USER_ID, USER_NAME, USER_PWD, PHONE, EMAIL, ADDRESS, TO_CHAR(BIRTH, 'YYMMDD') AS BIRTH, DEPT_NAME, JOB_NAME,
												EMPOLYMENT_DATE, DEPATURE_DATE, AUTH, ENABLED
		FROM MEMBER
		JOIN DEPARTMENT USING(DEPT_CODE)
		JOIN JOB USING(JOB_CODE)
		WHERE USER_NO = #{userNo}
		AND STATUS = 'Y'
	</select>
	
	<update id="updateMember" parameterType="member">
<!-- 		UPDATE MEMBER -->
<!-- 		SET USER_NAME = #{userName}, PHONE = #{phone}, EMAIL = #{email}, ADDRESS = #{address},  -->
	</update>
	
	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="member">
		INSERT INTO MEMBER(USER_NO, USER_ID, USER_NAME, USER_PWD, PHONE, EMAIL, ADDRESS, BIRTH, DEPT_CODE, JOB_CODE,
							EMPOLYMENT_DATE, DEPATURE_DATE, AUTH, ENABLED)
		VALUES(SEQ_UNO.NEXTVAL, #{userId}, #{userName}, #{userPwd}, #{phone}, #{email}, #{address}, #{birth}, #{deptCode}, #{jobCode},
								#{empolymentDate}, #{depatureDate}, #{auth}, 1)
	</insert>
	
	<!-- customUserDetails 관련 -->
	<resultMap type="com.kh.final3.member.model.vo.CustomUserDetails" id="customUserSet">
	 	<result column="USER_ID" property="userId"/>
	 	<result column="USER_PWD" property="userPwd"/>
	 	<result column="AUTH" property="auth"/>
	 	<result column="USER_NO" property="userNo"/>
	 	<result column="USER_NAME" property="userName"/>
	 	<result column="PHONE" property="phone"/>
	 	<result column="EMAIL" property="email"/>
	 	<result column="ADDRESS" property="address"/>
	 	<result column="BIRTH" property="birth"/>
	 	<result column="DEPT_CODE" property="deptCode"/>
	 	<result column="JOB_CODE" property="jobCode"/>
	 	<result column="EMPOLYMENT_DATE" property="empolymentDate"/>
	 	<result column="DEPATURE_DATE" property="depatureDate"/>
	 	<result column="ENABLED" property="enabled"/>
	 	<result column="STATUS" property="status"/>
	 	<result column="DEPT_NAME" property="deptName"/>
	 	<result column="JOB_Name" property="jobName"/>
	</resultMap>
	
	<select id="selectMember" parameterType="String" resultMap="customUserSet">
		SELECT *
		FROM MEMBER
		WHERE USER_ID = #{userId}
	</select>
	
</mapper>